<div>
    <h1>Crear tarea</h1>
    <form action="/Task" method="POST">
        <label>Nombre de la tarea<input type="text" name="task" required></label><br>
        <label>Fecha de finalización<input type="Date" name="date" required></label><br>
        <label>Horas requeridas<input type="number"name="hours" required></label><br>
        <button type="submit">Crear</button>
    </form>
</div>